* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url("https://i.pinimg.com/1200x/85/f1/93/85f1939de80bd530eeec0ded4fd2cafe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative; 
}


.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    width: 300px;

    position: absolute;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}


h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input:focus {
    border-color: #74ebd5;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #a5a6cd;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #8e5fca;
}

p {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
